<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated List -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="list.presentation.ListModelWizardID"
            name="%_UI_ListModelWizard_label"
            class="list.presentation.ListModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ListModelFile.gif">
         <description>%_UI_ListModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated List -->
      <editor
            id="list.presentation.ListEditorID"
            name="%_UI_ListEditor_label"
            icon="icons/full/obj16/ListModelFile.gif"
            extensions="list"
            class="list.presentation.ListEditor"
            contributorClass="list.presentation.ListActionBarContributor">
      </editor>
   </extension>

</plugin>
